* {
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --primary-color: #50abe4;
    --gray-color: #d3d3d3;
    --yellow-color: #f5be19;

    --border-default: 1px solid var(--gray-color);
    --gap-default: 25px;

    --default-transition: 0.50s ease;
    --eerie-black: hsl(0, 0%, 13%);
    --radius-default: 2px;
}

